name: CI

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  execute_backend_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgl1-mesa-dev

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.1'
          host: 'linux'
          target: 'desktop'
          install-deps: 'true'

      - name: Compile project
        run: mkdir build && cd build && cmake .. && make

      - name: Compile project
        run: mkdir build && cd build && cmake .. && make

      - name: Run google tests
        run: ctest -V
