name: CI

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  execute_backend_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile project
        run: mkdir build && cd build && cmake .. && make

      - name: Run google tests
        run: ctest -V
